<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicativoKotlinCaoAmigo">

        <!-- 1ª TELA (ABERTURA): MainActivity com os botões Entrar e Cadastrar -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2ª TELA: Cadastro do Morador (Limpa, sem intent-filter) -->
        <activity
            android:name=".CadastroMoradorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 3ª TELA: Boas-Vindas pós-cadastro -->
        <activity
            android:name=".BoasVindasActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 4ª TELA: Painel Home principal -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 5ª TELA: Lista de Cães Cadastrados -->
        <activity
            android:name=".ListaCaesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegistroCuidadoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CadastroCaoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HistoricoCuidadoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>